---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
//import ItemGrid2 from '~/components/ui/ItemGrid2.astro';
import type { Features as Props } from '~/types';
import { getPermalink } from '~/utils/permalinks';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  // items = [],
  // columns = 3,
  // defaultIcon,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const albums = await getCollection('albumIndex');
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />

  <div class="mx-auto container max-w-screen-sm grid grid-cols-2 gap-8">
    {
      albums.map((item) => (
        <a href={getPermalink(item.data.permalink)} class="group transition-all mb-4 block">
          <div class="text-center relative flex flex-col intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
            <Image
              src={item.data.cover}
              alt={item.data.title}
              format="avif"
              width={720}
              quality="mid"
              class:list={['rounded-lg transition-all', 'group-hover:shadow-lg group-hover:opacity-80', 'mb-4']}
            />
            <p class="font-normal">{item.data.title}</p>
            <p class="text-xs">{item.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</WidgetWrapper>
