---
import WidgetWrapper from './ui/WidgetWrapper.astro';
import Headline from './ui/Headline.astro';
import type { Headline as HeadlineProps, Widget } from '~/types';
import { getEntry } from 'astro:content';
import VideoGalleryItem from './VideoGalleryItem.astro';

interface Props extends Omit<HeadlineProps, 'classes'>, Widget {
  collection: string;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),

  collection
} = Astro.props;

const videos = await getEntry('video', collection);
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} classes={classes?.headline as Record<string, string>} />

  <div id="video-gallery" class="container mx-auto px-2 pb-2 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-3">
    {
        videos?.data.map(async (vidMeta) => 
            <VideoGalleryItem videoId={vidMeta.videoId} title={vidMeta.title} description={vidMeta.description} />
        )
    }
  </div>
</WidgetWrapper>
